.dataRow {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  -moz-user-cursor: none;
  -ms-user-cursor: none;
  -webkit-user-cursor: none;
}

.commingSoon {
  color: gray;
}

.table .info {
  font-size: 82px;
  font-family: "微軟正黑體";
}

.table .dataRow.videoRow,
.table .dataRow.mp3Row,
.table .dataRow.pngRow,
.table .dataRow.pdfRow,
.table .advertising .advertising-text {
  cursor: pointer;
  font-size: 70px;
  font-family: "微軟正黑體";
}

.table .unit-name {
  font-weight: bold;
  font-size: 76px;
}

.table .subject-name {
  font-weight: bold;
}

.table .wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table .wrapper button {
  margin-left: 0.5%;
  margin-right: 0.5%;
  height: 100%;
  width: 70%;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  outline: none;
  color: black;
  border: 3px solid #555555;
}

.dataRow.mp3Row audio {
  width: 100%;
  margin-top: 7%;
  -moz-box-shadow: 2px 2px 4px 0px #006773;
  -webkit-box-shadow: 2px 2px 4px 0px #006773;
  box-shadow: 2px 2px 4px 0px #006773;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.dataRow.mp3Row div {
  height: 200px;
}

.dataRow.pngRow img {
  width: 100%;
}

.table .advertising img {
  width: 100%;
  cursor: pointer;
}

.table .advertising {
  cursor: pointer;
}