.dataRow {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  -moz-user-cursor: none;
  -ms-user-cursor: none;
  -webkit-user-cursor: none;
}

.commingSoon {
  color: gray;
}

.table .info {
  font-size: 82px;
  font-family: "微軟正黑體";
}

.table .dataRow.videoRow {
  font-size: 70px;
  font-family: "微軟正黑體";
}

.table .unit-name {
  font-weight: bold;
  font-size: 76px;
}

.table .subject-name {
  font-weight: bold;
}

.table .wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table .wrapper button {
  height: 50px;
  width: 100px;
  border-radius: 8px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
